@{
	ViewBag.Title = "Forgot Password Confirmation";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
<div class="col-lg-6">
	<div class="p-5">
		<hgroup class="title">
			<h3>@ViewBag.Title.</h3>
		</hgroup>
		<div>
			<p>
				Please check your email to reset your password.
			</p>
			<p class="text-danger">
				For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
				Please change this code to register an email service in IdentityConfig to send an email.
			</p>
		</div>
		<hr>
	</div>
</div>