@model List<FA.JustBlog.Core.Model.Tag>
@using FA.JustBlog.Extensions
@{ 
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@foreach (var item in Model)
{
	<div class="post-preview">

		@Html.TagLink(item)
		<br />
		<small class="post-meta">
			@item.Name
		</small>
		@*<p><b>@item.ShortDescription</b></p>*@

	</div>
	<hr />

}